@font-face {
   font-family: 'CookieRun Regular';
   font-display: swap;
   src: url('file:///C:/Users/sju01/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-08-26_154951/fonts/CookieRun%20Regular/font.ttf');
}
